@{
    ViewBag.Title = "Home Page";
}

<style>
    #minhaDiv{
        text-align: center;
    }
</style>

<div id="minhaDiv">
    <!--Minha imagem central-->
    <img src="/Content/images/verdao.png" id="fundoPrincipal" alt="logotipo" title="Sistema de cadstro" />
</div>
