
@{
    ViewBag.Title = "myAbout";
}
<style>
    h2{
        text-align:center;
        color:tomato;
        background-color:royalblue;
    }

    #pContactos {
        background-color: black;
        width: 523px;
        height: 140px;
        color: yellow;
        background-position: center center;
        border: 5px solid cadetblue;
        border-radius: 10px;
        margin-left: 382px;
        margin-top: 30px;
        padding: 3px;
    }

    .bPrincipal{
        color:royalblue;
        /*color: cadetblue*/
    }
</style>

<h2>Все о сайте</h2>
<div>
    <p>Это система назывется Кадастровик Corp (Кадастровое управление сorp), Карлуш Изаиаш из ИСТ-116, сосздал эту систему с нуля. Система пока находится в просеции, его 70% уже создно. А как она работает?
    </p>
    <p>
        <!--Informacao como ele funciona estara aqui-->
    </p>
</div>
<div>
    <br />

    <p id="pContactos">
        Carlos Isaias Abilio - Карлуш Изаиаш Абилиу <br />
        <b class="bPrincipal">Телефон:</b> 89040353680<br />
        <b class="bPrincipal">Whatsapp-Telegram:</b> +79601932498<br />
        <b class="bPrincipal">E-mail: </b> isaicarl18@gmail.com / musk8nap@yandex.ru <br />
        <b class="bPrincipal">Facebook:</b> Carlos Isaias A.<br />
        <b class="bPrincipal">VKontakt:</b> carlosisai//jpaquinabaptista <br />
    </p>
</div>

